@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

header {
    position: fixed;
    background: #fff;
    border-bottom: 2px solid #888;
    width: 100%;
    z-index: 1;
}

li {
    font-size: 62.5%;
    list-style: none;
}
a {
    font-size: 62.5%;
    text-decoration: none;
}
  ul li {
    font-size: 62.5%;
    padding: 6px 0;
  }
  ul li a {
    font-size: 62.5%;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "Lato";
    font-size: 2rem;;
    color: #ecf0f1;
    text-transform: uppercase;
    padding: 4px 0;
    transition: 0.5s;
  }
ul li a::after {
    font-size: 62.5%;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #4299E1;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  ul li a:hover {
    color: #95a5a6;
  }
  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

#active {

    color: #4299E1;
    transform: scaleX(1);
    transform-origin: left;
}
.header{
    border-bottom: 1px solid #E2E8F0;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 62.5%;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    font-size: 62.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-size: 62.5%;
    margin-left: 3rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #475569;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
#title {
    font-size: 20px;
    color: #333;
}
#favicon {
    width: 40px;
    display: inline;
    border-radius: 20px;
    margin-right: 6px;
}
@media only screen and (max-width: 1100px) {
    #title {
        font-size: 18px;
    }
}
@media only screen and (max-width: 914px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media only screen and (max-width: 542px) {
    #title {
        font-size: 18px;
    }
}
